{% extends "base.html.twig" %}

{% block title %}
    Modifier un film
{% endblock %}

{% block body %}

<h1>Modifier un utilisateur</h1>
<h2>{{ user.nickname }}</h2>

{{ include('admin/user/_form.html.twig') }}

<a href="{{ path('back_user_read') }}">Retour à la liste</a>

{% endblock %}