{% extends 'base.html.twig' %}

{% block title %}Type{% endblock %}

{% block body %}
    <h1>Liste des types</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nom du type</th>
            </tr>
        </thead>
        <tbody>
        {% for type in types %}
            <tr>
                <td scope="row">{{ type.id }}</td>
                <td scope="row">{{ type.name }}</td>
                <td scope="row">
                    <a href="{{ path('admin_type_delete', {'id': type.id}) }}">Supprimer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucune type trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
